@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    background-color: rgb(233, 233, 230);
    margin: 0;
    padding: 0px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin-left: 30%;
}

header {
     background-color: rgb(233, 233, 230);
    /* background-color: aqua; */

}

header ul a {
    text-decoration: none;
}

iframe {
    width: 90%;
    height: auto;
    margin-left: 5%;
    aspect-ratio: 16 / 9;
  }

nav {
    font-size: larger;
    font-family: 'Raleway', sans-serif;
    width: 40%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}